@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a forja dos aneis de poder</h1>
    <p>Para forjar um anel <a href="ForjarAnel">clique aqui</a></p>
</div>
